/* You can add global styles to this file, and also import other style files */
.spinner {
  width: 140px;
  height: 140px;

  position: relative;
  margin: 100px auto;
  margin-top: 25%;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color:#D8E0F0;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
}



html, body {
    margin:0;
    padding:0;
    height:100%;
    width: 100%;
    font-size: 12px !important;
    font-family: Arial !important;
    color: #000 !important;
}

.body-wrapper{
    height: 100vh;
    width: 100%;
}

.page-wrapper{
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 1px solid #000000;
    height: 90%; 
    min-height: 750px;
    min-width: 1150px;
    margin-top:10px;
    box-shadow: 2px 2px rgba(0,0,0,0.35);
}

.component-wrap{
    height: 75%;
}

.content-wrap{
    border: 1px solid #B0C8D8; 
    height: 100%; 
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background: linear-gradient(#fff, #D8E0F0);    
    padding: 0 10px 30px; 
    position: relative;
}

.cont-wrap{
    border: none;        
}

.listContent{
    border: 1px solid #B0C8D8;     
    background-color: #FFF; 
    height: calc(100% - 10px);   
    overflow-y: auto;
    overflow-x: hidden;
}

.tableContent{
    border: 1px solid #B0C8D8; 
    height: 100%;
    background-color: #FFF;  
    margin-bottom: 30px;  
}

.list-group{
    height: 100%;
}

.sumContent{
    height: 100%;    
    position: relative;
}

.listSummary{  
    height: 100%;  
    width: 100%; 
    border: 1px solid #B0C8D8;     
    background-color: #FFF;   
    padding: 5px;    
    position: relative;
}

.txtError{
    color: #FFF;
    position: absolute;
    background-color: #FF0000;   
    padding: 2px 5px;
}

.pagination{
    font-size: 11px;
    padding: 0 !important;
    margin: 1px 0 !important;    
}

.right-paging, .left-paging{
    position:absolute; 
    bottom: 1px;       
    height: 30px; 
    line-height: 30px;  
    vertical-align: middle;
}

.right-paging{     
    right: 10px;    
}

.left-paging{    
    left: 10px;    
}

.table>tbody>tr.active>td {
  background-color:rgba(206,231,239,0.35) !important;
  color: #000;
}

.table>tbody>tr:hover>td {
  background-color: rgba(206,231,239,0.35) !important;
  color: #000;
}

.table>tbody>tr:nth-child(even) td {background: #FAFBFE}
.table>tbody>tr:nth-child(odd) td {background: #FFF}

.table>tbody>tr>td{
    line-height: 15px;
    padding: 5px;
    border: none !important;
    word-wrap: break-word;    
}

.table>thead>tr>th{
    background-color:#D8E0F0 !important;
    color: #000;
    line-height: 15px;
    padding: 5px;
    border: none !important;
}

.form-control{
    width: 50%;
    font-size: 12px;
    line-height: 15px;
    display: inline-block;
    margin-left: 10px;  
    height: 25px !important; 
}

.btnClear{
    background: url('./images/button/btn_icon_reset.png') no-repeat; 
    background-position: 8px 8px;
    padding-left: 20px !important;
    font-size: 12px !important;
}

.task-wrapper{
    height: 100%; 
    overflow-x: auto; 
    overflow-y: hidden; 
    white-space:nowrap; 
    position: relative;
    border: 1px solid #B0C8D8;     
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background: linear-gradient(#fff, #D8E0F0);    
    padding: 0 10px 30px; 
}

.task-content{    
    height: 100%; 
    background: transparent;    
}

.task-content-table{    
    height: 100%;
}

.task-content-tr{    
    height: 100%;
}

.task-content-td{  
    display: inline-block;     
    height: 100%; 
    margin-top: 15px; 
    margin-bottom: 10px;    
	white-space: normal;  
    vertical-align: top;    
}

.step-wrapper{    
    position: relative; 
    width: 240px; 
    height: 100%;   
}

.step-panel{
    border-radius: 5px;
    height: calc(100% - 30px); 
    margin: 15px; 
    bottom: 0; 
    position: relative;
    background-color: #FFF;
    width: 210px;
    display: inline-table;
}

.step-panel-selected{
    border: 1px solid #507030; 
}

.step-panel-normal{
    border: 1px solid #005070; 
}

.step-bar-icon{
    height: 24px; 
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px; 
    width: 208px; 
    position: absolute; 
    bottom: 0;
}

.step-icon-img{
    max-height: 100%; 
    max-width: 100%; 
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px;
    min-width: 100%;
    min-height: 100%;    
}

.step-bar-icon-txt{
    position: absolute; 
    bottom: 0; 
    right: 10px; 
    background: transparent; 
    font-weight: bold;
    color: #FFF;
}

.step-type-icon{
    height: 36px; 
    width: 221px; 
    position: absolute; 
    top: 0; 
    left: 2px;
}

.step-type-icon-txt{
    position: absolute; 
    top: 10px; 
    left: 40px; 
    background: transparent; 
    font-weight: bold;
    color: #FFF;
}

.step-type-icon-priority{
    position: absolute; 
    top: 10px; 
    right: 40px; 
    background: transparent; 
}

.step-list-participants{
    width: 90%; 
    height: 75%;
    margin-top: 25px;
    margin-left: 10px;
}

.step-list-participants>ul,.step-list-participants>li, .listSummary>ul,.listSummary>li{
    list-style-type: none;
    margin: 0;
    padding:0;
}

.tempMsg{
    top: 25%;
    margin: 0 auto;    
    width: 400px;
    height: 300px;    
    box-shadow: 0 0 0 2px #fee19f, 0 0 0 10px #e8eef4;
    background: linear-gradient(#fff, #fff6e1);
}

.modal-content{
    width: 400px;
    height: 300px;      
    border: none;
    background: transparent;
    border-radius: 0;
    box-shadow: none !important;
    /*background: linear-gradient(#fff, #fff6e1);
    box-shadow: 0 0 0 2px #fee19f;*/
}

.tempMsg-header{
    border-bottom: none;
}

.modal-header .close{
    min-width: 15px !important;
}

.tempMsg-body{
    padding: 15px !important;
}

.tempMsg-footer{
    border-top: none;
    width: 140px;
    height: 40px;    
    margin: 0 130px;
    position: absolute;
    padding: 0;
    bottom: 10px;
}

.tempMsgBtn{
    width: 140px !important;
}

.btnHidden{
    visibility: hidden;
}

.noteArrow{
    width: 30px;
    vertical-align: top;
}

.valMsg{
    top: 25%;
    margin: 0 auto;    
    width: 400px;
    height: 300px;    
    /*box-shadow: 0 0 0 10px #e8eef4;*/
    background: #e8eef4;
}

.valMsg-header{
    height: 20px;
    line-height: 20px;
    background: linear-gradient(#fff, #E4E7EA);
    border-bottom: none; 
    padding: 0 10px;  
}

.valMsg-header>h3{
    font-size: 12px;
    font-weight: bold;
}

.modal-body{
    padding: 0;
}

.valMsg-body{
    padding: 0 20px !important;
}

.valMsgContent{
    width: 362px;
    height: 200px;
    background: transparent;
}

.valMsgTxt{
    width: 362px;
    height: 177px;
    background: #fff;
    border: 1px solid #B0C8D8;
    overflow: auto;
}

.valMsg-footer{
    border-top: none;    
    padding: 0;   
    margin-right: 20px; 
}

.valMsgBtn{
    width: 75px;
    height: 23px;
    padding: 0;
    background: linear-gradient(#FFF,#CED4D9);
    border: 1px solid #8EA0AE;
    border-radius: 5px;
    color: #000;
    box-shadow: 0 0 1px #8EA0AE;
}

.fpButtonNav{   
    background: #1F3B53;
    background: -moz-linear-gradient(top, #3E79A1 0%, #1E4D69 50%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #3E79A1), color-stop(50%, #1E4D69));
    background: -webkit-linear-gradient(top, #3E79A1 0%, #1E4D69 50%);
    background: -o-linear-gradient(top, #3E79A1 0%, #1E4D69 50%);
    background: -ms-linear-gradient(top, #3E79A1 0%, #1E4D69 50%);
    background: linear-gradient(to bottom, #3E79A1 0%, #1E4D69 50%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E79A1', endColorstr='#1E4D69', GradientType=0 );
    color: #FFF;
    padding: 0;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    font-size: 13.333px;
    align-content: center;
    width: 190px; 
    height: 25px;
    position: relative;
    font-style: bold;
    box-shadow: 0 0 0 1px #FFFFFF, 0 0 0 2px #797E7A; 
    margin: 5px;
}

.fpButtonNav[disabled]{
    background: grey !important;
}

/*Webkit (Chrome, Safari)*/
@media screen and (-webkit-min-device-pixel-ratio:0) { 
.listContent{
    overflow: hidden !important;    
}

.scrollTable { 
  border-collapse: collapse;
  margin: 0;
  height: 100%;  
}

.scrollTable tr {
  display: flex;
}

.scrollTable td, .scrollTable th {  
  flex: 1 auto;    
  word-wrap: break-word;
}

.scrollTable thead{
    background-color:#D8E0F0 !important;
}

.scrollTable thead tr:after {  
    content: ' ';
  overflow-y: scroll;
  visibility: hidden;
  height: 0;
}

.scrollTable thead th {
  flex: 1 auto;
  display: block;    
}

.scrollTable tbody {
  display: block;
  width: 100%;
  overflow-y: scroll;
  height: 100%;  
}

}

    /*Firefox*/
@media screen and (-moz-images-in-menus:0) {

}
 
/*This will work for firefox*/
@-moz-document url-prefix() {    

}

.ng-busy{
    top: 40% !important;    
}

#stepsTable td:nth-child(1), #stepsTable th:nth-child(1), 
#stepsTable td:nth-child(4), #stepsTable th:nth-child(4),
#stepsTable td:nth-child(5), #stepsTable th:nth-child(5),
#stepsTable td:nth-child(6), #stepsTable th:nth-child(6),
#stepsTable td:nth-child(8), #stepsTable th:nth-child(8){
    width: 8%;
}

#stepsTable td:nth-child(2), #stepsTable th:nth-child(2),
#stepsTable td:nth-child(7), #stepsTable th:nth-child(7){
    width: 15%;
}

#stepsTable td:nth-child(3), #stepsTable th:nth-child(3){
    width: 30%;
}

.selectDocTable td:nth-child(1),.selectDocTable th:nth-child(1),
.selectDocTable td:nth-child(3),.selectDocTable th:nth-child(3){
    width: 15%;
}

.selectDocTable td:nth-child(2),.selectDocTable th:nth-child(2){
    width: 30%;
}

.selectDocTable td:nth-child(4),.selectDocTable th:nth-child(4),
.selectDocTable td:nth-child(5),.selectDocTable th:nth-child(5){
    width: 20%;
}


.ng-busy {
  z-index: 1002;
}
.ng-busy,
.ng-busy > *,
.ng-busy > ng-component > * {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.ng-busy-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1001;
  background: #fff;
  opacity: .7;
}
.ng-busy-default-wrapper {
  text-align: center;
}
.ng-busy-default-sign {
  position: relative;
  display: inline-block;
  z-index: 1003;
  padding: 12px 14px;
  border: 1px solid #d8d8d8;
  border-top: 0;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  background: #f8f8f8;
  color: #333;
}
.ng-busy-default-text {
  display: inline-block;
  margin-left: 6px;
  max-width: 400px;
  font-size: 14px;
  text-align: left;
}
.ng-busy-default-spinner {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;
}
.ng-busy-default-spinner div {
  position: absolute;
  left: 44.5%;
  top: 37%;
  width: 10%;
  height: 26%;
  background: #666;
  border-radius: 50px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  opacity: 0;
  -webkit-animation: busy-spinner-anim 1s linear infinite;
          animation: busy-spinner-anim 1s linear infinite;
}
.ng-busy-default-spinner .bar1 {
  -webkit-transform: rotate(0deg) translate(0, -142%);
          transform: rotate(0deg) translate(0, -142%);
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}
.ng-busy-default-spinner .bar2 {
  -webkit-transform: rotate(30deg) translate(0, -142%);
          transform: rotate(30deg) translate(0, -142%);
  -webkit-animation-delay: -0.91666667s;
          animation-delay: -0.91666667s;
}
.ng-busy-default-spinner .bar3 {
  -webkit-transform: rotate(60deg) translate(0, -142%);
          transform: rotate(60deg) translate(0, -142%);
  -webkit-animation-delay: -0.83333333s;
          animation-delay: -0.83333333s;
}
.ng-busy-default-spinner .bar4 {
  -webkit-transform: rotate(90deg) translate(0, -142%);
          transform: rotate(90deg) translate(0, -142%);
  -webkit-animation-delay: -0.75s;
          animation-delay: -0.75s;
}
.ng-busy-default-spinner .bar5 {
  -webkit-transform: rotate(120deg) translate(0, -142%);
          transform: rotate(120deg) translate(0, -142%);
  -webkit-animation-delay: -0.66666667s;
          animation-delay: -0.66666667s;
}
.ng-busy-default-spinner .bar6 {
  -webkit-transform: rotate(150deg) translate(0, -142%);
          transform: rotate(150deg) translate(0, -142%);
  -webkit-animation-delay: -0.58333333s;
          animation-delay: -0.58333333s;
}
.ng-busy-default-spinner .bar7 {
  -webkit-transform: rotate(180deg) translate(0, -142%);
          transform: rotate(180deg) translate(0, -142%);
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}
.ng-busy-default-spinner .bar8 {
  -webkit-transform: rotate(210deg) translate(0, -142%);
          transform: rotate(210deg) translate(0, -142%);
  -webkit-animation-delay: -0.41666667s;
          animation-delay: -0.41666667s;
}
.ng-busy-default-spinner .bar9 {
  -webkit-transform: rotate(240deg) translate(0, -142%);
          transform: rotate(240deg) translate(0, -142%);
  -webkit-animation-delay: -0.33333333s;
          animation-delay: -0.33333333s;
}
.ng-busy-default-spinner .bar10 {
  -webkit-transform: rotate(270deg) translate(0, -142%);
          transform: rotate(270deg) translate(0, -142%);
  -webkit-animation-delay: -0.25s;
          animation-delay: -0.25s;
}
.ng-busy-default-spinner .bar11 {
  -webkit-transform: rotate(300deg) translate(0, -142%);
          transform: rotate(300deg) translate(0, -142%);
  -webkit-animation-delay: -0.16666667s;
          animation-delay: -0.16666667s;
}
.ng-busy-default-spinner .bar12 {
  -webkit-transform: rotate(330deg) translate(0, -142%);
          transform: rotate(330deg) translate(0, -142%);
  -webkit-animation-delay: -0.08333333s;
          animation-delay: -0.08333333s;
}
@-webkit-keyframes busy-spinner-anim {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.25;
  }
}
@keyframes busy-spinner-anim {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.25;
  }
}
